basePath: /
definitions:
  main.jsonResponse:
    properties:
      data: {}
      error:
        type: boolean
      message:
        type: string
    type: object
  main.requestPayload:
    properties:
      email:
        type: string
      password:
        type: string
      username:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  title: kinosaya API
  version: "1.0"
paths:
  /:
    get:
      description: Returns a JSON response with success status.
      operationId: get-sample-response
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.jsonResponse'
      summary: hit the broker
  /user:
    post:
      consumes:
      - application/json
      description: Registers a new user with the specified data.
      parameters:
      - description: User data
        in: body
        name: requestPayload
        required: true
        schema:
          $ref: '#/definitions/main.requestPayload'
      produces:
      - application/json
      responses:
        "202":
          description: Successful registration
          schema:
            $ref: '#/definitions/main.jsonResponse'
      summary: Register a new user
      tags:
      - user
swagger: "2.0"
